.starrating{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on{
  color: #f0ad4e;
}

.off{
  color: #adb5bd;
}


#MovieList{
  display: grid;

}

#ReviewForm{
  margin: 4px;

}
